<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/PamBWillenz">Pam</a>. A rising web developer who builds apps and helps people get healthy.
  </p>
    <br />
    <p>
      Pam has had her own health journey and now shows others how to cook, eat healthy and stay active.
    </p>
    <p>
      If you want a roadmap to get your health on - contact me <a target="_blank" href="http://pamwillenz.com/pages/about-me"> here</a>
    </p>


    <div class="col-xs-12 col-sm-4">
      <%= image_tag 'pam_bike.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offet-1">
      <h2 class="text-center">Pam Willenz</h2>
      <br />
      <p>
        Pam Willenz is a web developer, project manager and integrative nutrition health coach. She led the digital media, customer relations and operations for a tech consumer startup. In her former life, she managed the public affairs for a nationally-recognized science company. She likes to cycle up mountains, travel to cool areas and eat "healthy" great food.
      </p>
    </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />